{% extends 'admin_base.html' %}
{% block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">{{order_status}} Order</h5>
        <div class="container-fluid">
            <table class="table table-bordered table-sm" id="example">
                <thead>
                <tr>
                    <th>No</th>
                    <th>OrderId</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in order %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                    <td>{{i.user.username}}</td>
                    <td>
                        <form action="/update-status/{{i.id}}/" method="post" style="display:inline;">
                            {% csrf_token %}
                            <select name="status" class="form-control d-inline w-auto">
                                {% for status_value, status_name in order_status_choices %}
                                    <option value="{{status_value}}" {% if i.status == status_value %}selected{% endif %}>{{status_name}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary d-inline"><i class="fas fa-edit"></i> Update</button>
                        </form>
                    </td>
                    <td>
                        <a href="/delete-order/{{i.id}}/?action={{request.GET.action}}" class="btn btn-danger" onclick="return confirm('Are You Sure?')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
